NodeRedFlow/AirQualityFlow.json
[{"id":"df92a849.bf1718","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8845ead.af08a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c161b086.db225","type":"mqtt-broker","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f5130b08.457858","type":"ui_group","name":"Air Quality Index","tab":"2b77d495.0e71ec","order":1,"disp":true,"width":10,"collapse":false},{"id":"d7462180.ac61","type":"ui_group","name":"Air Quality of Past Hours","tab":"2b77d495.0e71ec","order":3,"disp":true,"width":10,"collapse":false},{"id":"2b77d495.0e71ec","type":"ui_tab","name":"Air Pollution Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9813d0bd.1e49f","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7e2fdf82.68e82","type":"ui_spacer","name":"spacer","group":"12f6ec7e.5b7314","order":3,"width":"10","height":"4"},{"id":"5ca04570.012eac","type":"ui_group","name":"Quality Parameters","tab":"2b77d495.0e71ec","order":2,"disp":true,"width":10,"collapse":false},{"id":"c83f3228.03c53","type":"ui_group","name":"Date and Time","tab":"2b77d495.0e71ec","order":4,"disp":true,"width":"10","collapse":false},{"id":"de0f204a.6136d","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":1,"width":1,"height":1},{"id":"8db5fb39.d46558","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":3,"width":1,"height":1},{"id":"a54801ee.409ec","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":4,"width":1,"height":1},{"id":"77b8b0bf.1303c","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":5,"width":1,"height":1},{"id":"b1412ec7.b2acb","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":6,"width":1,"height":1},{"id":"f0ceba6c.7dbfc8","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":7,"width":1,"height":1},{"id":"9f44691.edf1398","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":8,"width":1,"height":1},{"id":"17f3a5de.7a57ca","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":9,"width":1,"height":1},{"id":"b4979d55.6c4a9","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":10,"width":1,"height":1},{"id":"59a3cbf6.35a1f4","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":11,"width":1,"height":1},{"id":"20de819c.b464de","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":12,"width":1,"height":1},{"id":"bce5538b.73655","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":13,"width":1,"height":1},{"id":"85ba7a33.7e11a8","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":14,"width":1,"height":1},{"id":"78873484.377c2c","type":"ui_spacer","name":"spacer","group":"5ca04570.012eac","order":15,"width":1,"height":1},{"id":"b39e298.c6716d8","type":"http request","z":"df92a849.bf1718","name":"API request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/geo:{{{latitude}}};{{{longitude}}}/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":320,"wires":[["2cb76372.6e325c","6286232a.dea4fc","fc94ff16.27682","6c88acbe.416be4","44c86b06.4219a4","afd3d7cf.576508","93a78caf.be49b","4f8e2eec.cf9ea","d3a35cb6.d89e4"]]},{"id":"2cb76372.6e325c","type":"debug","z":"df92a849.bf1718","name":"API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":100,"wires":[]},{"id":"e4345587.915af8","type":"mqtt out","z":"df92a849.bf1718","name":"AQI out","topic":"entc/group11/project/aqi","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c161b086.db225","x":880,"y":260,"wires":[]},{"id":"f4ada751.02fb38","type":"debug","z":"df92a849.bf1718","name":"AQI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":140,"wires":[]},{"id":"b91d99ea.eb02e8","type":"change","z":"df92a849.bf1718","name":"Set Location Parameters","rules":[{"t":"set","p":"latitude","pt":"msg","to":"payload.latitude","tot":"msg"},{"t":"set","p":"longitude","pt":"msg","to":"payload.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":180,"wires":[["20cd0b83.e57ed4","b39e298.c6716d8"]]},{"id":"6f10bc45.d23754","type":"mqtt in","z":"df92a849.bf1718","name":"Location In","topic":"entc/group11/project/location","qos":"2","datatype":"json","broker":"c161b086.db225","nl":false,"rap":true,"rh":0,"x":160,"y":40,"wires":[["b91d99ea.eb02e8"]]},{"id":"3f4a01d3.4f54be","type":"inject","z":"df92a849.bf1718","name":"Repeat","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1480,"wires":[["daa09e6b.072bd","2c948c4c.5b5da4","be78658d.4d6538","9429e01.f200d2","fcd01257.8625","898093b4.2a8b7","2d655b95.a87854"]]},{"id":"898093b4.2a8b7","type":"http request","z":"df92a849.bf1718","name":"colombo","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@9571/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1240,"wires":[["3362341f.3272ac"]]},{"id":"1ddaa1fc.edd55e","type":"debug","z":"df92a849.bf1718","name":"Colombo data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":1240,"wires":[]},{"id":"fc94ff16.27682","type":"switch","z":"df92a849.bf1718","name":"City Name","property":"payload.data.city.name","propertyType":"msg","rules":[{"t":"eq","v":"Colombo US Embassy, Sri Lanka","vt":"str"},{"t":"eq","v":"San Jose US Embassy, Costa Rica","vt":"str"},{"t":"eq","v":"San Salvador Este, El Salavor","vt":"str"},{"t":"eq","v":"US Embassy, Guatemala City, Guatemala","vt":"str"},{"t":"eq","v":"SDS01, Mérida, Yucatán, Mexico","vt":"str"},{"t":"eq","v":"Universidad Veracruzana, Poza Rica, Veracruz, Mexico","vt":"str"},{"t":"eq","v":"Primaria Revolución, Atotonilco, Hidalgo, Mexico","vt":"str"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":8,"x":150,"y":880,"wires":[["26cb3de8.f246c2"],["42c9e63b.8502d8"],["d936142b.a320f8"],["8eaa8521.976c28"],["3731cfeb.a055d"],["89186bfe.f0c028"],["7cab9fd.4d2526"],["805603de.1193"]]},{"id":"20cd0b83.e57ed4","type":"debug","z":"df92a849.bf1718","name":"Location","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":40,"wires":[]},{"id":"b405ccd1.04a6f","type":"debug","z":"df92a849.bf1718","name":"Colombo Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":600,"wires":[]},{"id":"6286232a.dea4fc","type":"debug","z":"df92a849.bf1718","name":"City","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.city.name","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":460,"wires":[]},{"id":"50d86ce4.a9e564","type":"ui_gauge","z":"df92a849.bf1718","name":"AQI Guage","group":"f5130b08.457858","order":1,"width":10,"height":4,"gtype":"gage","title":"{{city}}","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6a800","#ca3838"],"seg1":"50","seg2":"100","x":890,"y":500,"wires":[]},{"id":"6c88acbe.416be4","type":"change","z":"df92a849.bf1718","name":"Set Guage Parameters","rules":[{"t":"set","p":"city","pt":"msg","to":"payload.data.city.name","tot":"msg"},{"t":"set","p":"value","pt":"msg","to":"payload.data.aqi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["50d86ce4.a9e564"]]},{"id":"3362341f.3272ac","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1240,"wires":[["1f9138ed.ef5fb7"]]},{"id":"e4733777.4e8d18","type":"debug","z":"df92a849.bf1718","name":"History","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":680,"wires":[]},{"id":"fcd01257.8625","type":"http request","z":"df92a849.bf1718","name":"San Jose","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@12506/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1320,"wires":[["781e10f3.32c5"]]},{"id":"8b063fc.2d61cc","type":"debug","z":"df92a849.bf1718","name":"San Jose data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":1320,"wires":[]},{"id":"781e10f3.32c5","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1320,"wires":[["bfce4e1c.12414"]]},{"id":"8b819ae2.b72b68","type":"debug","z":"df92a849.bf1718","name":"San Jose Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":680,"wires":[]},{"id":"9429e01.f200d2","type":"http request","z":"df92a849.bf1718","name":"San Salvador","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@6966/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":1400,"wires":[["3f2c75ed.441b0a"]]},{"id":"dd867380.80be8","type":"debug","z":"df92a849.bf1718","name":"San Salvador data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1400,"wires":[]},{"id":"3f2c75ed.441b0a","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1400,"wires":[["9cc8d761.919f28"]]},{"id":"4409c290.5f7cac","type":"debug","z":"df92a849.bf1718","name":"San Salvador Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":760,"wires":[]},{"id":"be78658d.4d6538","type":"http request","z":"df92a849.bf1718","name":"Guatemala","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@12515/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1480,"wires":[["9139d368.955bb"]]},{"id":"c0b63536.e4d058","type":"debug","z":"df92a849.bf1718","name":"Guatemala data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":1480,"wires":[]},{"id":"9139d368.955bb","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1480,"wires":[["67df319a.506ef"]]},{"id":"6a411344.b42afc","type":"debug","z":"df92a849.bf1718","name":"Guatemala Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":840,"wires":[]},{"id":"b248d4c6.79cb48","type":"debug","z":"df92a849.bf1718","name":"Merida Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":920,"wires":[]},{"id":"2c948c4c.5b5da4","type":"http request","z":"df92a849.bf1718","name":"Merida","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@11908/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1560,"wires":[["ec44f7ab.cbf308"]]},{"id":"394f82b.154bd7e","type":"debug","z":"df92a849.bf1718","name":"Merida data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":1560,"wires":[]},{"id":"ec44f7ab.cbf308","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1560,"wires":[["fa92aeec.0bbf8"]]},{"id":"daa09e6b.072bd","type":"http request","z":"df92a849.bf1718","name":"Veracruz","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@9164/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1640,"wires":[["5ffad70c.cfa4a8"]]},{"id":"ec2f4e06.af0c5","type":"debug","z":"df92a849.bf1718","name":"Veracruz data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":1640,"wires":[]},{"id":"5ffad70c.cfa4a8","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1640,"wires":[["1c558a44.e5c0d6"]]},{"id":"33377456.a1fd1c","type":"debug","z":"df92a849.bf1718","name":"Veracruz Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1000,"wires":[]},{"id":"5da9b452.15f51c","type":"ui_ui_control","z":"df92a849.bf1718","name":"","events":"all","x":920,"y":1160,"wires":[["df8a7605.0bd428"]]},{"id":"805603de.1193","type":"function","z":"df92a849.bf1718","name":"","func":"\nreturn {payload:{\n    \"group\": {\n        \"hide\": [\n            \"Air_Pollution_Dashboard_Air_Quality_of_Past_Hours\"\n        ]\n    }\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1160,"wires":[["5da9b452.15f51c"]]},{"id":"c2064f3b.f2242","type":"function","z":"df92a849.bf1718","name":"","func":"\nreturn {payload:{\n    \"group\": {\n        \"show\": [\n            \"Air_Pollution_Dashboard_Air_Quality_of_Past_Hours\"\n        ]\n    }\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":920,"wires":[["5da9b452.15f51c"]]},{"id":"40d3633.fdf6b9c","type":"ui_text","z":"df92a849.bf1718","group":"f5130b08.457858","order":2,"width":10,"height":1,"name":"Quality","label":"Air Quality","format":"{{msg.quality}}","layout":"row-center","x":870,"y":200,"wires":[]},{"id":"44c86b06.4219a4","type":"change","z":"df92a849.bf1718","name":"Set global Params","rules":[{"t":"set","p":"aqi","pt":"global","to":"payload.data.aqi","tot":"msg"},{"t":"set","p":"timestamp","pt":"global","to":"payload.data.time.s","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":520,"wires":[[]]},{"id":"c85596ff.5b4e58","type":"function","z":"df92a849.bf1718","name":"Historical Data","func":"var json_data = msg.payload;\nvar countKey = Object.keys(json_data).length;\nvar result = [];\n\nvar keys = Object.keys(json_data);\n\nfor(var i = countKey-20; i<countKey; i++){\n    result.push({'x': json_data[keys[i]].timestamp,'y': json_data[keys[i]].value});\n}\n\nresult.push({'x': global.get(\"timestamp\"),'y': global.get(\"aqi\")});\n\nmsg.payload=[{\n    'series' :['Air quality index'],\n    'data' : [result],\n    'labels': ['Air quality index']\n    }]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":800,"wires":[["c2064f3b.f2242","e4733777.4e8d18","df8a7605.0bd428"]]},{"id":"26cb3de8.f246c2","type":"http request","z":"df92a849.bf1718","name":"Get Colombo","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Colombo.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":600,"wires":[["b405ccd1.04a6f","c85596ff.5b4e58"]]},{"id":"1f9138ed.ef5fb7","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Colombo.json","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":1240,"wires":[["1ddaa1fc.edd55e"]]},{"id":"bfce4e1c.12414","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/SanJose.json","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":1320,"wires":[["8b063fc.2d61cc"]]},{"id":"9cc8d761.919f28","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/SanSalvador.json","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":1400,"wires":[["dd867380.80be8"]]},{"id":"67df319a.506ef","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Guatemala.json","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":1480,"wires":[["c0b63536.e4d058"]]},{"id":"fa92aeec.0bbf8","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Merida.json","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":1560,"wires":[["394f82b.154bd7e"]]},{"id":"1c558a44.e5c0d6","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Veracruz.json","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":1640,"wires":[["ec2f4e06.af0c5"]]},{"id":"42c9e63b.8502d8","type":"http request","z":"df92a849.bf1718","name":"Get San Jose","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/SanJose.json","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":680,"wires":[["8b819ae2.b72b68","c85596ff.5b4e58"]]},{"id":"d936142b.a320f8","type":"http request","z":"df92a849.bf1718","name":"Get San Salvador","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/SanSalvador.json","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":760,"wires":[["4409c290.5f7cac","c85596ff.5b4e58"]]},{"id":"8eaa8521.976c28","type":"http request","z":"df92a849.bf1718","name":"Get Guatemala","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Guatemala.json","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":840,"wires":[["6a411344.b42afc","c85596ff.5b4e58"]]},{"id":"3731cfeb.a055d","type":"http request","z":"df92a849.bf1718","name":"Get Merida","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Merida.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":920,"wires":[["b248d4c6.79cb48","c85596ff.5b4e58"]]},{"id":"89186bfe.f0c028","type":"http request","z":"df92a849.bf1718","name":"Get Veracruz","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Veracruz.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1000,"wires":[["33377456.a1fd1c","c85596ff.5b4e58"]]},{"id":"2d655b95.a87854","type":"http request","z":"df92a849.bf1718","name":"Hidalgo","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@9170/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1720,"wires":[["fa689889.a17668"]]},{"id":"93c073ea.5e5b8","type":"debug","z":"df92a849.bf1718","name":"Hidalgo data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":1720,"wires":[]},{"id":"fa689889.a17668","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1720,"wires":[["4b5acc46.98ccc4"]]},{"id":"4b5acc46.98ccc4","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Hidalgo.json","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":1720,"wires":[["93c073ea.5e5b8"]]},{"id":"7b7f688f.887c88","type":"debug","z":"df92a849.bf1718","name":"Hidalgo Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1080,"wires":[]},{"id":"7cab9fd.4d2526","type":"http request","z":"df92a849.bf1718","name":"Get Hidalgo","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Hidalgo.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1080,"wires":[["7b7f688f.887c88","c85596ff.5b4e58"]]},{"id":"afd3d7cf.576508","type":"function","z":"df92a849.bf1718","name":"Get AQI value","func":"let aqi = msg.payload.data.aqi;\nvar quality = \"Good\";\nif (aqi>=100){\n    quality = \"Unhealthy\";\n} else if(aqi>=50){\n    quality = \"Moderate\";\n}\n\nreturn {\n    payload:aqi,\n    quality:quality\n    \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":160,"wires":[["f4ada751.02fb38","40d3633.fdf6b9c","e4345587.915af8"]]},{"id":"df8a7605.0bd428","type":"ui_chart","z":"df92a849.bf1718","name":"Historical Data Time Series","group":"d7462180.ac61","order":1,"width":10,"height":5,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0056d6","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":1040,"wires":[[]]},{"id":"93a78caf.be49b","type":"function","z":"df92a849.bf1718","name":"Get Q Params","func":"let iaqi = msg.payload.data.iaqi;\n\ndict = {\n    \"dew\":\"Dew Point (°C)\",\n    \"h\":\"Humidity %\",\n    \"p\":\"Pressure (Pa)\",\n    \"pm25\":\"Fine Particulate Matter (μg/m3)\",\n    \"t\":\"Temperature (°C)\",\n    \"w\":\"Wind Speed (m/s)\",\n    \"wg\":\"Wind Gust (m/s)\",\n    \"pm10\":\"Respirable Particulate Matter (μg/m3)\",\n    \"o3\":\"Ozone (μg/m3)\",\n    \"co\":\"Carbon Monoxide (μg/m3)\",\n    \"no2\":\"Nitrogen Dioxide (μg/m3)\",\n    \"so2\":\"Sulfur Dioxide (μg/m3)\",\n    \"mepaqi\": \"MEP AQI\"\n}\n\nlet params = {};\n\nfor (var key in iaqi) {\n    if (dict.hasOwnProperty(key)) {\n        params[dict[key]] =  iaqi[key].v.toFixed(2)\n    }\n    else {\n        params[key] =  iaqi[key].v.toFixed(2)\n    }\n}\n\nreturn {\n    payload:params,\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":220,"wires":[["50f2b676.2f8c18"]]},{"id":"50f2b676.2f8c18","type":"ui_template","z":"df92a849.bf1718","group":"5ca04570.012eac","name":"Table","order":2,"width":8,"height":7,"format":"<table border=\"1\">\n    <tr>\n        <th>Parameter</th>\n        <th>Value</th>\n    </tr>\n    <tr ng-repeat=\"(k,v) in msg.payload\" ng-if =\"$index < 12\">\n        <td align=\"left\">{{k}}</td>\n        <td align=\"middle\">{{v}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":320,"wires":[[]]},{"id":"4f8e2eec.cf9ea","type":"function","z":"df92a849.bf1718","name":"Get Local Time","func":"let time = msg.payload.data.time.s;\n\nreturn {\n    payload: time\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[["1112fba5.5b63b4"]]},{"id":"1112fba5.5b63b4","type":"ui_text","z":"df92a849.bf1718","group":"c83f3228.03c53","order":1,"width":10,"height":3,"name":"Last Updated","label":"Last Updated","format":"{{msg.payload}}","layout":"col-center","x":890,"y":380,"wires":[]},{"id":"89ae3313.84fd5","type":"mqtt out","z":"df92a849.bf1718","name":"Time Zone Out","topic":"entc/group11/project/tz","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c161b086.db225","x":900,"y":440,"wires":[]},{"id":"d3a35cb6.d89e4","type":"function","z":"df92a849.bf1718","name":"Get Local Time Zone","func":"let timeZone = msg.payload.data.time.tz;\n\nreturn {\n    payload: timeZone\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":340,"wires":[["89ae3313.84fd5"]]},{"id":"95599eba.fcaed","type":"inject","z":"b8845ead.af08a","name":"alyoshniki","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"50\",\"longitude\":\"50\"}","payloadType":"json","x":160,"y":880,"wires":[["ea74be2d.7761f"]]},{"id":"7d9710a1.17f5e","type":"inject","z":"b8845ead.af08a","name":"bandra","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"19.0596\",\"longitude\":\"72.8295\"}","payloadType":"json","x":170,"y":820,"wires":[["ea74be2d.7761f"]]},{"id":"b0f882b0.bbf92","type":"inject","z":"b8845ead.af08a","name":"vasai","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"19.3665\",\"longitude\":\"72.8155\"}","payloadType":"json","x":170,"y":520,"wires":[["ea74be2d.7761f"]]},{"id":"9303f8bd.451468","type":"inject","z":"b8845ead.af08a","name":"borivali","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"19.2307\",\"longitude\":\"72.8567\"}","payloadType":"json","x":170,"y":580,"wires":[["ea74be2d.7761f"]]},{"id":"8822d558.2b5a28","type":"inject","z":"b8845ead.af08a","name":"vile","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"19.1071\",\"longitude\":\"72.8368\"}","payloadType":"json","x":170,"y":640,"wires":[["ea74be2d.7761f"]]},{"id":"6179e3b.676521c","type":"inject","z":"b8845ead.af08a","name":"puram","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"28.5660\",\"longitude\":\"77.1767\"}","payloadType":"json","x":170,"y":760,"wires":[["ea74be2d.7761f"]]},{"id":"fdb0a2e7.0dac8","type":"inject","z":"b8845ead.af08a","name":"colaba","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"18.9067\",\"longitude\":\"72.8147\"}","payloadType":"json","x":170,"y":700,"wires":[["ea74be2d.7761f"]]},{"id":"17489f6.a61cf61","type":"inject","z":"b8845ead.af08a","name":"shanghai","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"31.2047\",\"longitude\":\"121.4489\"}","payloadType":"json","x":160,"y":460,"wires":[["ea74be2d.7761f"]]},{"id":"ea74be2d.7761f","type":"mqtt out","z":"b8845ead.af08a","name":"AQI publish","topic":"entc/group11/project/location","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c161b086.db225","x":710,"y":400,"wires":[]},{"id":"bb7baea1.3c5dd","type":"inject","z":"b8845ead.af08a","name":"colombo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"6.9224\",\"longitude\":\"79.8661\"}","payloadType":"json","x":160,"y":40,"wires":[["ea74be2d.7761f"]]},{"id":"fc6f435a.c487b","type":"inject","z":"b8845ead.af08a","name":"San Jose","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"9.9347\",\"longitude\":\"-84.0875\"}","payloadType":"json","x":160,"y":100,"wires":[["ea74be2d.7761f"]]},{"id":"622ae24b.1a2d1c","type":"inject","z":"b8845ead.af08a","name":"San Salvador","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"13.7151\",\"longitude\":\"-89.1548\"}","payloadType":"json","x":150,"y":160,"wires":[["ea74be2d.7761f"]]},{"id":"4a332fa9.a34fd","type":"inject","z":"b8845ead.af08a","name":"Guatemala","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"14.6069\",\"longitude\":\"-90.5169\"}","payloadType":"json","x":160,"y":220,"wires":[["ea74be2d.7761f"]]},{"id":"715faeb3.1b8ee","type":"inject","z":"b8845ead.af08a","name":"Veracruz","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"20.5089\",\"longitude\":\"-97.4469\"}","payloadType":"json","x":160,"y":340,"wires":[["ea74be2d.7761f"]]},{"id":"e14b33b4.6e12d","type":"inject","z":"b8845ead.af08a","name":"Merida","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"20.9732\",\"longitude\":\"-89.6248\"}","payloadType":"json","x":170,"y":280,"wires":[["ea74be2d.7761f"]]},{"id":"8b746637.35f198","type":"inject","z":"b8845ead.af08a","name":"Hidalgo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"20.0066\",\"longitude\":\"-99.2188\"}","payloadType":"json","x":170,"y":400,"wires":[["ea74be2d.7761f"]]}]